#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.city-input {
  padding: 0.5rem;
  width: 200px;
  margin-right: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 1.2rem;
}

.current-weather,
.forecast-container {
  margin-top: 1rem;
  text-align: left;
}

.forecast-container {
  margin-top: 2rem;
}

.forecast-card {
  background-color: #241919;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-basis: 200px;
  flex-grow: 1;
}

.forecast-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.forecast-card p {
  margin: 0.5rem 0;
}

input:focus,
button:focus {
  outline: none;
  border: 2px solid #4CAF50;
}
